.container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}
.black{
    max-width: 400px;
    height:400px;
    background-color: black;
    padding: 30px;
    margin: 30px;
    border: 5px double white;
    font-size: 25px;
    border-radius: 10px;;
}
.black p{
    color: white;
}
.white{
    max-width: 400px;
    height: 400px;
    color: rgb(0, 0, 0);
    padding: 30px;
    margin: 30px; 
    border: 5px double black;
    font-size: 25px;
    border-radius: 10px;
}
@media screen and (max-width:1024px){
    .container{
        flex-direction: column; /* direção dos conteudos do display */
    }
    .black, .white{
        max-width: 100%;
    }
    
}